<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    
    <title>Career Services, NITJ</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <nav class="navbar">
        <h4 class="careerheading">
            Career Services, NITJ
        </h4>
        <a class="nitj" href="https://www.nitj.ac.in/">
            NITJ
        </a>
    </nav>
    <div class ="sidebar">
        <ul>
            <li><a href="/opening">Home</a></li>
            <li><a href="/loginStudent">Login</a></li>
            <li><a href="#">Team</a></li>
            <li><a href="#">Developer</a></li>
            <li><a href="#">Contact Us</a></li>
        </ul>
        
    </div>