<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/styles.css">
  <link rel="stylesheet" href="/css/student.css">
    <title>Profile</title>
    <style>
        .row-content {
    margin:0px auto;
    padding: 10px 0px 10px 0px;
    border-bottom: 1px ridge;
    min-height:30px;
}
    </style>
</head>
<body>
    <div class = "container">
        <div class = "row">
            <ul class="nav nav-tabs">
                <li class="nav-item">
                  <a class="nav-link active" href="#">Home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link " href="/admin/exp">Experiences</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/admin/ConfirmCompany"> Confirm Companies</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/admin/login/Students">Students</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/admin/login/Companies">Companies</a>
                  </li>
              </ul>
        </div>
    </div>
</body>
</html>
