<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <title>Experiences</title>
</head>
<body>
    <div class = "container">
        <div class = "row">
            <div class = "col-12">
                <% experience.forEach( (exp) => { %>
                    <div class = "row">
                        <div class = "col-md-10 offset-md-2">
                            <div class = "card">
                                <div class="card-body">
                                    <h5 class="card-title"><%= exp.company %></h5>
                                    <h6 class="card-subtitle"><%= exp.branch %></h6><br>
                                    <h6 class="card-subtitle"><%= exp.choice %></h6><br>
                                    <p class = "card-text"><%= exp.exp %></p>
                                </div>
                            </div>
                        </div>
                    </div>
                <% }) %>
            </div>
        </div>
    </div>
</body>
</html>