<%- include('partials/headers') %>
<div class = "container">
<form class = "loginContainer" action = "/student/forgot_pass" , method="POST">
    <div class="form-group">
      <label>Roll Number</label>
      <input type="text" class="form-control" name = "rollno" >
    </div>
    <div class="d-flex form-cta">
      <button type="submit" class="button button-pri">Send Mail</button>
    </div>

  </form>

</div>