<%- include('partials/headers') %>
<div class = "container">
<form class = "loginContainer" action = <%= link %> , method="POST">
    <div class="form-group">
      <label>Enter new Password</label>
      <input type="text" class="form-control" name = "password" >
    </div>
    <div class="d-flex form-cta">
      <button type="submit" class="button button-pri">Change Password</button>
    </div>

  </form>

</div>