<%- include('partials/headers') %>
<div class = "container">
<form class = "loginContainer" action = "/student/login" , method="POST">
    <div class="form-group">
      <label>Roll Number</label>
      <input type="text" class="form-control" name = "rollno" >
    </div>
    <div class="form-group">
      <label>Password</label>
      <input type="password" class="form-control" name = "password">
    </div>
    <div class="d-flex form-cta">
      <button type="submit" class="button button-pri">Log In</button>
      <button class="button button-sec"><a href="/student/register">Register</a></button>
      <button class="button button-sec"><a href="/student/forgot_pass">Forgot password</a></button>
    </div>
    
  
  </form>

</div>

<%- include('partials/footer') %>