<%- include('partials/headers') %>

<div class= "login">
    <div class="btn-group-vertical" role="group">
        <button type="button" class="btn btn-secondary"><a href = "/loginStudent">Login as Student</a></button>
        <button type="button" class="btn btn-secondary">Login as Admin</button>
        <button type="button" class="btn btn-secondary">Login as Company</button>
      </div>
</div>

<%- include('partials/footer') %>