<%- include('partials/headers') %>
<main>
    <div class="opening-hero container">
        <h2 class="wel">Welcome to <span>Internship-Portal</span></h2>
        <p>Where Companies find right talent to hire &</p>
        <p>Where Students get best work opportunities.</p>
        <div class="cta-section">
            <p>Hire Interns. <a href="/login/company">Login as a company</a> </p>
            <p>Find Internship opportunities. <a href="/login/student">Login as a student</a></p>
        </div>
    </div>
</main>
<%- include('partials/footer') %>