<%- include('partials/headers') %>
<main>
    <div class="opening-hero container">
        <h2 class="wel">Welcome to <span>Training and Placement Portal</span></h2>
        <p>Where Companies find the right talent to hire &</p>
        <p>Where Students get the best work opportunities.</p>
        <div class="cta-section">
            <p>Hire Interns/Freshers. <a href="/company/login">Login as a company</a> </p>
            <p>Find Internship/Placement opportunities. <a href="/student/login">Login as a student</a></p>
        </div>
    </div>
</main>
<%- include('partials/footer') %>