body{
    background: rgb(244,245,245);
    background: radial-gradient(circle, rgba(244,245,245,1) 70%, rgba(197,202,210,1) 100%);
    overflow: hidden;
    background-image: url("https://www.nitj.ac.in/images/menu_content/dsc_0707.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.8;
}

a:hover{
    color: white;
}
.login{
    margin-top: 170px;
    margin-left : 450px;
    padding: 20px;
}
.btn-group{
    padding-top: 20px;
}
.flex-right {
    color: white;
}
.navbar{
    position: sticky;
    background: #373B44;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #4286f4, #373B44);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #4286f4, #373B44); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    height: 70px;
}
.nitj{
    position: absolute;
    right :20px;
}
a:hover{
    text-decoration: none;
    color: dark-blue;
}
.sidebar{
    position: fixed;
    left : 0px;
    top: 90px;
    background: white;
    width: 250px;
    height: 100%;
    transition: .3s;
}
.sidebar ul{
    margin: 0;
    padding: 20px;
}
.sidebar ul li{
    list-style: none;
}
.sidebar ul a{
    padding: 10px 20px;
    color : black;
    display: block;
    text-decoration: none;
    border-bottom: 1px solid rgba(0,0,0,.2);
}
.loginContainer{
    top: 150px;
    position: absolute;
    left: 230px;
    background-color: white;
    border: 1px solid white;
    border-radius: 6%;
    width: 800px;
    height: 330px;
}
.loginContainer .container{
    margin: 20px;
}
.form-group{
    width: 700px;
}
.btn a{
    color: white;
}
.navbar ul{
    display: flex;
}
.navbar ul li{
    list-style: none;
    text-decoration: none;
    flex-direction: column;
}
.navbar .flex-left{
    font-size: 25px;
    color: white;
}
.navbar .flex-right{
    margin: 3px;
    padding: 40px;
}
.dropdown-menu{
    background: rgb(233, 248, 248);
    position: absolute;
    z-index: 100;
}
.row-content {
    margin:0px auto;
    padding: 50px 0px 50px 0px;
    border-bottom: 1px ridge;
    min-height:400px;
}